div.cabinet
    div.content
        div.cabinet__menu--toggle
            div.user__img.user__img--small
                img(src="./assets/images/users/user1-big.png" alt="user1")
            div.row.user__name
                span.txt.txt--strong Antonio88
        aside
            h2 Мой кабинет
            nav.cabinet__nav
                ul.cabinet__menu
                    li.cabinet__menuItem
                        a(href="#").cabinet__menuLink Мой кабинет
                    li.cabinet__menuItem
                        a(href="#").cabinet__menuLink Бонусы
                    li.cabinet__menuItem
                        a(href="#").cabinet__menuLink Личные данные
            div.progress--custom
                span.progress__label Заполнено на 43%
                div.progress__input
                span.progress__info Заполните больше данных и получите больше возможностей и плюшек в будущих аукционах
        section
            div.user__card
                div.row
                    div.user__img
                        img(src="./assets/images/users/user1-big.png" alt="user1")
                    div.user__info
                        div.row.user__name
                            span.txt Имя пользователя:
                            span.txt.txt--strong Antonio88
                        div.row.user__account
                            span.txt На счету:
                            span.txt.txt--strong 50 ставок
                        div.row
                            button.button.button--primary Купить ставки
                p Заполните больше данных и получите больше возможностей и плюшек в будущих аукционах. Текстовый блок, который будет добавлен