div.pagination
    div.content
        ul.pagination__list
                li.pagination__item
                    a.pagination__link Главная
                li.pagination__item
                    a.pagination__link Мой кабинет