div.popup__wrapper.content
    form.popup.popup__pay
        div.popup__row
            label.rate__label(for='rate')
                span.label__title Ставки
                div.select
                    select(id='rate' name="rate")
                        option(name="rate-item" value="100") 100
                        option(name="rate-item" value="200") 200
                        option(name="rate-item" value="300") 300
                        option(name="rate-item" value="400") 400
                        option(name="rate-item" value="500") 500
                        option(name="rate-item" value="600") 600
                        option(name="rate-item" value="700") 700
            label.rate__label(for='rate')
                span.label__title Итого:
                span.rate__count 350 uan
        div.popup__row
            label.input__label.rate__label(for="cardNumber") Номер карты*
                input.input(type="text" id='cardNumber' placeholder='XXXX XXXX XXXX XXXX')
            div.input__row
                label.input__label.rate__label(for="cardValidity") Срок действия*
                    input.input(type="text" id='cardValidity' placeholder='ММ/ГГ')
                label.input__label.rate__label(for="cardCvv") CVV*
                    input.input(type="password" id='cardCvv' placeholder='***')
            label.input__label.rate__label(for="cardOwner") ФИО владельца карты*
                input.input(type="text" id='cardOwner' placeholder='Иванов Иван Иванович')
            div
                input(type="checkbox" id="saveCard")
                label.input__checkbox(for="saveCard") Запомнить карту для последующих транзакций
            button(type="submit" class='button button--primary') Оплатить 350 UAH
