section.winLot
    div.content
        h4 Ваши выигранные лоты
        ul.winLot__list
            li.winLot__item
                div.winLot__info
                    div.row
                        div.winLot__icon
                        p.winLot__model Apple Iphone X White 128 Gb
                    div.row
                        span Дата аукциона:
                        span.winLot__date 16.05.2020
                    div.row
                        span Статус:
                        span.winLot__status.winLot__status--danger Требует выкупа
                    div.row
                        button.button.button-outline-primary Выкупить
                div.winLot__inner
                    div.column
                        div.row.winLot__number
                            span Вы выиграли:
                            span Лот № 56473
                        div.row
                            span Цена выкупа:
                            span.winLot__price 237 UAH
                    p После выкупа лота, мы свяжемся с Вами и договоримся о доставке
            li.winLot__item
                div.winLot__info
                    div.row
                        div.winLot__icon
                        p.winLot__model Apple Iphone X White 128 Gb
                    div.row
                        span Дата аукциона:
                        span.winLot__date 16.05.2020
                    div.row
                        span Статус:
                        span.winLot__status.winLot__status--danger Требует выкупа
                    div.row
                        button.button.button-outline-primary Выкупить
                div.winLot__inner
                    div.column
                        div.row.winLot__number
                            span Вы выиграли:
                            span Лот № 56473
                        div.row
                            span Цена выкупа:
                            span.winLot__price 237 UAH
                    p После выкупа лота, мы свяжемся с Вами и договоримся о доставке

