.addLot {
  padding-top: 30px;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    & form {
      width: 100%;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      & .lot--offer {
        width: 100%;
      }
      & .button[type='submit'] {
        margin-top: 25px;
      }
    }
  }
  &__list {
    padding-top: 30px;
  }
  & #addLotList1 {
    z-index: 77;
  }
  & #addLotList2 {
    position: relative;
    top: -80px;
    margin-bottom: -80px;
  }
}

@media screen and (max-width: 1240px) {
  .addLot {
    &__list {
      & .card__list {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .filter {
    &__list {
      background: #FFFFFF;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
      border-radius: 8px;
      padding: 15px 0;
    }
    &__item {
      border-radius: initial;
      background-color: transparent;
      color: #4A4A4A;
      justify-content: flex-start;
      &:hover,
      &:active {
        background-color: transparent;
        color: #4A4A4A;
      }
      &--active {
        color: #006EED;
      }
    }
  }
  .addLot {
    padding-top: 5px;
    & #addLotList2 {
      margin-bottom: -115px;
    }
    &__form {
      & form {
        margin-top: 18px;
      }
    }
    &__list {
      padding-top: 45px;
      & .card__list {
        justify-content: initial;
      }
    }
    & .card__grid .card__item {
      &::before {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
      }
      border-radius: 8px;
    }
    & .card__grid .card__item .button--primary {
      margin: 15px 0 32px;
    }
    & .glide__bullets {
      bottom: 65px;
    }
  }
}

@media screen and (max-width: 576px) {
  .addLot {
    & .content {
      padding: 0 18px;
    }
  }
}