.cabinet {
  padding-top: 30px;
  padding-bottom: 60px;
  & .content {
    display: flex;
    position: relative;
  }
  & aside {
    display: flex;
    flex-direction: column;
    width: 259px;
    flex-shrink: 0;
    & h2 {
      text-align: start;
    }
  }
  &__menu {
    padding-top: 14px;
    padding-bottom: 5px;
    background: rgba(245, 245, 245, 0.5);
    border-radius: 8px;
    &--toggle {
      display: none;
      align-items: center;
      position: absolute;
      top: -72px;
      left: 0;
      padding-left: 20px;
      width: 100%;
      height: 50px;
      background: #F5F5F5;
      z-index: 557;
      &::before {
        content: "";
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0;
        top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        right: 20px;
        width: 12px;
        height: 7px;
        display: flex;
        background: url("./assets/images/icons/arrow-blue.svg") no-repeat center;
      }
    }
  }
  &__nav {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  &__menuItem {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #4A4A4A;
    padding: 15px 0;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      display: inline-flex;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin-left: 30px;
      margin-right: 25px;
      background: rgba(0, 110, 237, 0.5);
    }
  }
}

.progress {
  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #4A4A4A;
  }
  &__input {
    width: 100%;
    height: 12px;
    background: #F5F5F5;
    border-radius: 10px;
    margin-top: 3px;
    margin-bottom: 15px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 43%;
      height: 12px;
      background: #4CC738;
      border-radius: 10px;
    }
  }
  &__info {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: rgba(155, 155, 155, 0.7);
  }
}
.cabinet {
  .user {
    &__card {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 70px;
      padding-top: 60px;
      & p {
        font-size: 13px;
        line-height: 18px;
        color: #4A4A4A;
        width: 60%;
        padding-top: 40px;
        padding-left: 5px;
      }
    }
    &__img {
      width: 160px;
      height: 160px;
      border-radius: 50%;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &__info {
      padding-top: 18px;
      padding-left: 43px;
      & .button--primary {
        margin: 30px auto 0;
      }
    }
    &__name {
      padding-bottom: 25px;
      & .txt--strong {
        padding-left: 50px;
      }
    }
    &__account {
      align-items: center;
      & .txt--strong {
        display: inline-flex;
        align-items: center;
        padding-left: 115px;
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background-size: contain;
          margin-right: 10px;
          background: url("./assets/images/icons/coin2.svg") no-repeat center;
        }
      }
    }
  }
  & .show {
    display: flex;
    z-index: 777;
  }
}
.cabinet {
  &__cards {
    padding-top: 60px;
    & .content {
      border-bottom: 1px solid rgba(155, 155, 155, 0.2);
    }
    & .row {
      align-items: flex-start;
    }
    h2 {
      font-weight: bold;
    }
    &.cards .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: static;
      padding: 0;
      margin-top: 25px;
      font-weight: 600;
      &__img {
        flex-shrink: 0;
        width: 210px;
        height: 210px;
        background: url(./assets/images/cards/alllots.png) -74px 1px;
      }
      & .link--info {
        text-align: center;
        padding-top: 30px;
        line-height: 20px;
      }
    }
  }
}
.user {
  &--authorized {
    display: flex;
    align-items: center;
    & .user__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 1240px) {
  .cabinet,
  .winLot,
  .addLot,
  .calendar,
  .pagination {
    & .content {
      padding: 0 55px;
    }
  }
  .cabinet {
    .user {
      &__card {
        & p {
          width: 70%;
        }
      }
    }
  }
}


@media screen and (max-width: 1028px) {
  .cabinet {
    .user {
      &__card {
        & p {
          width: 85%;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .cabinet {
    &__cards {
      &.cards .links {
        display: none;
      }
    }
    .user {
      &__card {
        padding-left: 50px;
        & p {
          width: initial;
        }
      }
      &__info {
        padding-left: 30px;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .cabinet {
    & aside {
      width: 240px;
    }
    .user {
      &__card {
        padding-left: 40px;
      }
      &__info {
        padding-left: 20px;
      }
      &__img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .cabinet {
    & aside {
      width: 220px;
    }
    .user {
      &__card {
        padding-left: 30px;
      }
      &__name {
        & .txt--strong {
          padding-left: 20px;
        }
      }
      &__account {
        & .txt--strong {
          padding-left: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .user {
    &--authorized {
      display: none;
    }
  }
  .cabinet,
  .calendar,
  .pagination {
    & .content {
      padding: 0 18px;
    }
  }
  .cabinet {
    padding-bottom: 0;
    & .progress--custom {
      padding: 10px 30px 15px;
    }
    &__menu {
      padding-top: 0;
    }
    &__menuLink {
      font-size: 16px;
    }
    &__menuItem {
      padding: 12.5px 0;
    }
    &__cards {
      padding-top: 30px;
      & .card__grid {
        padding-top: 20px;
        padding-bottom: 32px;
        & .card__type {
          font-size: 16px;
          padding-top: 3px;
        }
      }
    }
    & .user__account {
      & .txt--strong {
        padding-left: 68px;
      }
    }
    & .user__img {
      width: 50px;
      height: 50px;
    }
    & .user__name {
      padding-bottom: 10px;
    }
    & .user__info {
      position: relative;
      padding-left: 13px;
      padding-top: 10px;
      & .button--primary {
        position: absolute;
        left: -13px;
        margin-top: 20px;
      }
    }
    & .user__card {
      padding-left: 0;
      padding-top: 33px;
      align-items: center;
      & .row {
        width: 100%;
      }
      & p {
        text-align: center;
        padding: 83px 15px 25px;
      }
    }
    & aside {
      display: none;
      left: 0;
      top: -22px;
      background-color: #FFFFFF;
      position: absolute;
      width: 100%;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
      & h2 {
        display: none;
      }
    }
  }
  .cards {
    &.cabinet__cards {
      & .card__action {
        padding-top: 15px;
      }
      & .glide__bullets {
        bottom: 35px;
      }
    }
  }
  .cabinet__menu--toggle {
    display: flex;
    & .user__img--small {
      width: 35px;
      height: 35px;
    }
    & .user__name {
      padding-bottom: 0;
    }
  }
  .cabinet {
    &__nav {
      margin: 0;
    }
    &__menuItem {
      background-color: #F5F5F5;
      margin-top: 2px;
    }
    &__menu {
      border-radius: 0;
    }
  }
  .pagination {
    position: relative;
    top: 45px;
  }
}