.calendar {
  padding-top: 30px;
  &__filter {
    display: flex;
    align-items: center;
    margin-top: 30px;
    & span {
      font-weight: 500;
      font-size: 16px;
      color: #9B9B9A;
      margin-right: 15px;
      flex-shrink: 0;
    }
  }
}

.filter {
  &__icon {
    display: none;
    width: 18px;
    height: 12px;
    background: url("./assets/images/icons/filter-icon.svg") no-repeat center;
    background-size: contain;
    &:hover {
      cursor: pointer;
    }
  }
  &__list {
    display: flex;
    &.filter__list--show {
      display: flex;
      z-index: 777;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    color: #006EED;
    background: #FFFFFF;
    border: 1px solid #006EED;
    border-radius: 30px;
    height: 35px;
    padding: 0 25px;
    transition: background 0.2s ease-out, color 0.2s ease-out;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    &--active {
      background: #006EED;
      color: #FFFFFF;
    }
    &:hover {
      cursor: pointer;
      background: #006EED;
      color: #FFFFFF;
    }
    &:active {
      background: #006EED;
      color: #FFFFFF;
    }
  }
}

.calendar {
  &__days {
    padding-top: 40px;
  }
  &__day {
    padding-bottom: 30px;
    & .glide {
      padding-top: 15px;
    }
  }
  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 45%;
      height: 1px;
      background: rgba(155, 155, 155, 0.3);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    & p {
      font-weight: 500;
      font-size: 16px;
      color: #006EED;
      position: relative;
      z-index: 7;
      background-color: #FFFFFF;
      padding: 0 47px;
    }
  }
}
@media screen and (max-width: 768px) {
  .filter {
    &__list {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 20px;
    }
    &__item {
      border: none;
    }
    &__icon {
      display: flex;
    }
  }
  .calendar {
    padding-top: 5px;
    &__days {
      padding-top: 25px;
    }
    &__day {
      &:last-of-type {
        padding-bottom: 20px;
      }
    }
    &__filter {
      justify-content: flex-end;
      margin-top: 12px;
      position: relative;
    }
    &__date {
      & p {
        padding: 0 30px;
      }
    }
    & .card__grid {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    & .card__item {
      border-radius: 8px;
    }
    .card__grid .card__item .button--primary {
      margin-top: 20px;
    }
    & .glide__bullets {
      bottom: 10px;
    }
  }
}