.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.txt {
  font-weight: 500;
  font-size: 16px;
  color: #9B9B9B;
  &--strong {
    color: #4A4A4A;
    font-weight: 600;
  }
}
.text {
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
  &--lg {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #4A4A4A;
  }
  &--md {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
}
@keyframes elementShow {
  from {
    opacity: 0;
    border: 2px solid transparent;
  }
  to {
    opacity: 1;
    border: 2px solid rgba(155, 155, 155, 0.2);
    border-top: 2px solid transparent;
  }
}

@keyframes elemShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popupShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes elemHidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes popupHidden {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    display: flex;
    width: 12px;
    height: 7px;
    right: 15px;
    background: url("./assets/images/icons/arrow.svg") no-repeat center;
  }
}
.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 64px;
  left: 0;
  background-color: rgba(245, 245, 245, 0.62);
  z-index: 555;
}
.popup {
  display: none;
}
.overlay--show {
  display: flex;
  animation: elemShow 0.3s linear;
}

.popup--show {
  display: flex;
  animation: popupShow 0.3s linear;
}

.overlay--hidden {
  animation: elemHidden 0.3s linear;
}

.popup--hidden {
  animation: popupHidden 0.3s linear;
}
.input__radio, label {
  &:hover {
    cursor: pointer;
  }
}
.button {
  &.button-outline-primary {
    background: #FFFFFF;
    border: 2px solid #2F85E9;
    border-radius: 25px;
    color: #2F85E9;
    font-weight: 600;
    font-size: 16px;
    transition: border 0.2s ease-out, color 0.2s ease-out;
    &:hover {
      border: 2px solid darken(#2F85E9, 10%);
      color: darken(#2F85E9, 10%);
    }
    &:active {
      border: 2px solid darken(#2F85E9, 5%);
      color: darken(#2F85E9, 5%);
    }
  }
}
input {
  &::placeholder {
    color: rgba(155, 155, 155, 0.5);
  }
}
.input {
  &__custom {
    width: 100%;
    & input {
      width: 100%;
      display: flex;
      align-items: center;
      height: 56px;
      background: #FFFFFF;
      border: 1px solid rgba(155, 155, 155, 0.3);
      border-radius: 6px;
      margin-bottom: 15px;
      padding: 20px;
      transition: border 0.2s ease-out;
    }
    & .input__placeholder {
      display: none;
    }
    &--focus,
    &.lot--offer {
      position: relative;
      & .input__placeholder {
        display: flex;
        position: absolute;
        font-weight: 600;
        letter-spacing: 0.8px;
        font-size: 12px;
        color: #5480F9;
        left: 11px;
        top: -6px;
        padding: 0 10px;
        background-color: #FFFFFF;
        transition: all 0.2s ease-out;
      }
      & input,
      & textarea {
        border: 1px solid #5480F9;
        color: rgba(155, 155, 155, 1);
        font-size: 16px;
        line-height: 22px;
        font-family: inherit;
      }
    }
    & textarea {
      width: 100%;
      resize: none;
      height: 90px;
      line-height: 1;
      border-radius: 6px;
      padding: 14px 20px 6px;
      &::placeholder {
        color: rgba(155, 155, 155, 0.5);
      }
    }
  }
}
.input__custom {
  --errorColor: #F92400;
  input, label {
    margin-bottom: 20px;
  }

  &[data-error-message] {
    position: relative;

    .input__placeholder {
      color: var(--errorColor);
    }

    input {
      border-color: var(--errorColor);
      margin-bottom: 30px;
    }
    &::after {
      content: attr(data-error-message);
      color: var(--errorColor);
      font-size: 11px;
      bottom: -13px;
      position: absolute;
      @media screen and (max-width: 768px) {
        font-size: .8rem;
      }
    }
  }

  &--checkbox {
    &[data-error-message] {
      &::after {
        margin-top: -18px;
      }
    }
  }
}
@media screen and (max-width: 922px) {
  .txt {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .overlay {
    top: 50px;
  }
  .txt {
    font-size: 12px;
  }
  .input {
    &__custom {
      & textarea {
        height: 108px;
        padding: 14px 20px 6px;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .text {
    font-size: 12px;
    line-height: 16px;
    &--lg {
      font-size: 14px;
      line-height: 19px;
    }
    &--md {
      font-size: 14px;
      line-height: 19px;
    }
  }
}