.faq {
  & h2 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  &__info {
    & .content {
      width: 100%;
      max-width: 963px;
      padding: 0 30px 40px;
    }
    & .text--lg {
      padding-bottom: 8px;
    }
    & .text--md {
      padding-bottom: 8px;
    }
    & .text--sm {
      padding-bottom: 10px;
    }
  }
  &__accordionContent {
    background-color: #F5F5F5;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__accordionWrapper {
    background-color: #ffffff;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0 30px;
    padding: 0 36px 0 30px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.04);
    width: 100%;
    max-width: 903px;
  }

  .ui-accordion-header {
    position: relative;
    color: #4a4a4a;
    border: none;
    border-bottom: 1px solid rgba(155, 155, 155, .1);
    border-radius: 0;
    background: transparent;
    font-size: 16px;
    padding: 15px 0 18px;
    outline: none;
    font-weight: 500;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 24px;
      width: 12px;
      height: 7px;
      display: flex;
      align-items: center;
      background: url("./assets/images/icons/arrow.svg") no-repeat center;
    }

    &:first-of-type {
      padding-top: 20px;
    }

    &:last-of-type {
      padding-bottom: 20px;
    }
  }
  .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: none;
  }
  .ui-icon, .ui-widget-content .ui-icon {
    background-image: none;
    display: none;
  }
  .ui-state-active {
    color: #006eed;
    border: none;
    padding-bottom: 14px;
    font-weight: 600;
    &::after {
      background: url("./assets/images/icons/arrow-blue.svg") no-repeat center;
      transform: rotate(180deg);
    }
  }

  .ui-accordion-content {
    border: none;
    border-bottom: 1px solid rgba(155, 155, 155, .1);
    color: #4a4a4a;
    font-size: 15px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 80px;
    line-height: 21px;
  }
}

@media screen and (max-width: 768px) {
  .faq {
    &__info {
      & .content {
        max-width: 536px;
        padding: 0 18px 30px;
      }
    }
    &__accordionWrapper {
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 640px) {
  .faq {
    & h2 {
      padding-top: 5px;
      padding-bottom: 10px;
    }
    &__info {
      & .text {
        letter-spacing: 0.3px;
        padding-right: 20px;
      }
      & .text--lg {
        letter-spacing: 0.4px;
        padding-right: 33px;
      }
      & .text--md {
        letter-spacing: 0.4px;
        padding-right: 10px;
        padding-bottom: 5px;
      }
    }
    &__accordionWrapper {
      margin: 0 18px;
      padding: 0 30px;
    }
    &__accordionContent {
      padding-bottom: 30px;
      padding-top: 30px;
    }
    .ui-accordion-header {
      font-size: 14px;
      font-weight: 500;
      padding-right: 25px;
      &.ui-state-active {
        padding-right: 15px;
        font-size: 16px;
      }
    }
    .ui-accordion-content {
      font-size: 14px;
      line-height: 20px;
      padding-right: 0;
    }
  }
}