header{
  width:100%;
}
.header__row {
  position: relative;
}
.header__row:nth-of-type(1) {
  background-color: #2085FB;
  color: #ffffff;
  box-shadow: 0px 4px 24px rgba(12, 85, 163, 0.3);
  z-index: 999;
}
.header__row:nth-of-type(2) {
  background-color: #F5F5F5;
  z-index: 777;
}
.header__row:nth-of-type(2) .content {
  padding: 0;
  height: 52px;
  justify-content: flex-start;
}
header .menu {
  display: flex;
  width: 100%;
}
header .menu__item {
  text-align: center;
  padding: 16.5px 0;
  width: 20%;
  transition: background-color 0.2s ease-out;
  &:hover {
    cursor: pointer;
    background-color: darken(#F5F5F5, 5%);
  }
  &:active {
    cursor: pointer;
    background-color: lighten(#F5F5F5, 2%);
  }
}
header .menu__item--active {
  background-color: #F92400;
  font-weight: 600;
  transition: background-color 0.2s ease-out;
  &:hover {
    background-color: darken(#F92400, 5%);
  }
  &:active {
    background-color: lighten(#F92400, 5%);
  }
}
header .menu__item--active .menu__link {
  color: #FFFFFF;
  transition: color 0.2s ease-out;
}
header .menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #4A4A4A;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__actions::after {
  content: "";
  width: 1px;
  height: 50px;
  background: rgba(255, 255, 255, 0.19);
  margin: 0 20px;
}
.header__actions .button {
  height: 40px;
}
.logo img {
  height: 42px;
}
.logo {
  position: absolute;
  left: 50px;
}
.bets__count {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.bets__count span:nth-of-type(1) {
  font-size: 1rem;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.62);
  margin-right: 5px;
}
.bets__value {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFBB57;
  text-shadow: 0px 4px 4px rgba(0, 110, 237, 0.54);
  align-items: center;
  letter-spacing: 0.7px;
}
.bets__value:nth-child(2)::before {
  content: "";
  display: flex;
  width: 28px;
  height: 28px;
  background: url("./assets/images/icons/coin.svg") no-repeat center;
  background-size: contain;
  margin-top: 7px;
}
.auth{
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.auth a {
  font-size: 14px;
  line-height: 19px;
  &:hover {
    cursor: pointer;
  }
}
.auth::before {
  content: "";
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 16px;
  background: url(./assets/images/person.svg) no-repeat;
}

.login::after {
  content: "/";
  padding: 0 5px;
}

.menu--toggle {
  display: none;
  margin-left: 15px;
  width: 19px;
  height: 13px;
  background: url("./assets/images/icons/menu-mobile.svg") no-repeat center;
}
