h1 {
  color: #4A4A4A;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: 0.02em;
  font-weight: bold;
}
h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #4A4A4A;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #4A4A4A;
  text-align: center;
}
h4 {
  font-weight: bold;
  font-size: 18px;
  color: #4A4A4A;
}
.lot h1 {
  font-size: 30px;
  line-height: 48px;
}
@media screen and (max-width: 768px) {
  .lot h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    &::before {
      content: "";
      display: flex;
      width: 60px;
      height: 60px;
      background: url("./assets/images/cards/clock-small.png") no-repeat center;
      background-size: contain;
      flex-shrink: 0;
      margin-right: 7px;
    }
  }
  h2 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 14px;
    line-height: 19px;
  }
}
