section.signup {
  padding-bottom: 90px;
  .content {
    max-width: 350px;
  }

  h2 {
    margin: 30px auto 25px;
    letter-spacing: 1px;
    @media screen and (max-width: 768px) {
      margin: 5px auto 20px;
    }
  }

  [type=submit] {
    display: inherit;
    margin: 30px auto 0;

    @media screen and (max-width: 768px) {
      margin: 20px auto 0;
    }
  }

  & .input__custom {
    &:nth-of-type(2) {
      & input {
        margin-bottom: 15px;
      }
    }
  }

  .input__checkbox {
    a {
      font-size: 14px;
      text-decoration: underline;
    }
  }
  .input__custom {
    &--checkbox {
      & label {
        font-size: 14px;
        & span {
          letter-spacing: 0.5px;
        }
      }
    }
  }

  .signupModal {
    display: none;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .04);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 365px;
    z-index: 560;

    @media screen and (max-width: 401px) {
      width: calc(100% - 36px);
      padding: 33px 20px;
    }

    &--show {
      display: initial;
    }

    &__header {
      margin-bottom: 20px;
      font-size: 18px;
      color: #4A4A4A;
      letter-spacing: 1px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    &__content {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 500;
      color: #4A4A4A;
      letter-spacing: 0.5px;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }

    &__okButton {
      max-width: 83px;
      height: 30px;
    }
  }
}

input {
  -webkit-appearance: none;
}

@media screen and (max-width: 576px) {
  section.signup {
    padding-bottom: 30px;
    .input__custom {
      &--checkbox {
        & a,
        & label {
          font-size: 12px;
        }
      }
    }
  }
  section.signup .input__checkbox a {
    font-size: 12px;
    letter-spacing: 0;
  }
}