.lot {
  padding-bottom: 60px;
}
.lot .content {
  width: 1225px;
}
.lot span {
  display: inline-flex;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #9B9B9B;
  text-align: center;
}
.lot__properties {
  display: flex;
  margin-top: 20px;
}
.lot__propertiTitles {
  margin-right: 160px;
}
.lot__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.lot__row {
  display: flex;
  flex-direction: column;
}
.lot__info {
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  padding-left: 25px;
  & .button--secondary {
    align-self: center;
    margin-top: 30px;
  }
}
.lot__buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 635px;
  min-width: 635px;
  border: 1px solid rgba(155, 155, 155, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-top: 10px;
  padding: 25px 45px 35px;
  & .button--primary {
    margin-top: 22px;
  }
}
.lot__img {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.lot__img picture:nth-child(2) {
  position: absolute;
  right: -50px;
  bottom: 10px;
}
.lot .card__price {
  flex-direction: column;
}
.lot .card__time {
  display: flex;
  align-items: center;
  &::before {
    content: "";
    display: flex;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    background: url("./assets/images/icons/time.svg") no-repeat center;
  }
}
.lot__rates {
  margin-top: 30px;
}
.lot__ratesTitle {
  display: flex;
  justify-content: space-between;
  span {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #4A4A4A;
  }
}
.lot__ratesList {
  margin-top: 20px;
}
.lot__ratesItem {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 50px;
  border: 1px solid rgba(155, 155, 155, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  margin: 5px 0 10px;
  position: relative;
  &::before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgba(0, 110, 237, 0.5);
    position: absolute;
    left: 20px;
  }
  & span {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: #4A4A4A;
  }
}
.lot__autoRate {
  margin: 25px 25px 0;
  border-top: 1px dashed rgba(155, 155, 155, 0.2);
  padding-top: 11px;
}
.lot__action .lot__autoRate span {
  padding: 11px 0 24px;
  text-align: left;
}
.lot__autoRate label {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
}
.lot .autoRate__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 109.4%;
  color: #000000;
  letter-spacing: 0.5px;
}
.lot span.autoRate__text {
  padding: 0;
}
.lot__autoRate label::before {
  content: '';
  position: absolute;
  left: 0;
  display: flex;
  background: #FFFFFF;
  border: 1.5px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 20px;
  width: 33px;
  height: 20px;
  transition: all .3s ease-out;
}
.lot__autoRate label::after {
  content: '';
  position: absolute;
  left: 0px;
  display: flex;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.101987);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 3px 7px rgba(0, 0, 0, 0.15);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all .3s ease-out;
}
.lot__autoRate .autoRate__label--notChecked,
.lot__autoRate .autoRate__label {
  height: 30px;
  display: flex;
  align-items: center;
}
.lot__autoRate .autoRate,
.lot__autoRate .autoRate__label {
  display: none;
}
#autoRate:checked + label::before {
  background: #2F85E9;
}
#autoRate:checked + label::after {
  left: 12px;
}
#autoRate:checked + label .autoRate__label--notChecked {
  display: none;
}

#autoRate:checked + label .autoRate,
#autoRate:checked + label .autoRate__label {
  display: flex;
}
.lot .lot__propertiTitle {
  font-size: 16px;
  line-height: 31px;
}
.lot .lot__propertiValue {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #4A4A4A;
}
.lot .card__price  {
  padding-bottom: 37px;
}
.lot .card__price span {
  align-items: center;
}
.lot__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(245, 245, 245, 0.5);
  border: 1px solid rgba(155, 155, 155, 0.1);
  border-radius: 8px;
}
.lot__action span {
  padding: 0 10%;
}
.lot__rates {
  width: 100%;
}
.lot .card__price span {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.lot span b {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}
.lot .card__price--retail {
  padding-bottom: 3px;
}
.lot .card__price--retail b {
  color: #4A4A4A;
}
.lot .card__price--relevant b {
  color: #2F85E9;
}
.lot .card__time {
  font-size: 32px;
  line-height: 122.4%;
  margin-top: 30px;
  margin-bottom: 15px;
}
.autoRate select {
  width: 72px;
  height: 30px;
  padding: 0 12px;
}
.autoRate .select {
  padding-left: 10px;
  position: relative;
  &::before {
    content: "";
    display: flex;
    width: 28px;
    height: 28px;
    background: url(./assets/images/icons/coin.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    right: -33px;
    top: 4px;
  }
}
.autoRate .button {
  width: 83px;
  height: 30px;
  background: #FFFFFF;
  border: 2px solid #2F85E9;
  border-radius: 25px;
  margin-left: 50px;
}
.lot__ratesHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(245, 245, 245, 0.5);
  border: 1px solid rgba(155, 155, 155, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 15px 67px 13px 20px;
  margin-top: 15px;
}
.user__info {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
.user__card {
  display: flex;
  align-items: center;
}
.lot .user__count {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #F92400;
}
.lot .user__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #006EED;
}
.lot .user__city {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
  padding-top: 10px;
}
.lot__ratesAmount {
  width: 27%;
}
.lot__ratesUser {
  width: 60%;
}
.lot__relevant {
  background-color: #F5F5F5;
  padding: 50px 0;
}
@media screen and (max-width: 1240px) and (min-width: 769px) {
  .lot__info {
    padding-left: 0;
    padding-right: 20px;
  }
  .lot .content {
    width: 100%;
    padding: 0 30px;
  }
  .lot__buy {
    width: 550px;
    min-width: 550px;
    padding: 25px 25px 35px;
  }
}
@media screen and (max-width: 1170px) {
  .lot__img picture:nth-child(2) {
    right: 0;
  }
  .lot__propertiTitles {
    margin-right: 130px;
  }
}
@media screen and (max-width: 1080px) and (min-width: 769px) {
  .lot__img picture:nth-child(2) {
    right: 0;
  }
  .lot .lot__propertiTitle,
  .lot .lot__propertiValue {
    font-size: 14px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 769px) {
  .lot span {
    font-size: 12px;
  }
  .lot__action span {
    padding: 0px 5%;
  }
  .lot h1 {
    font-size: 27px;
  }
  .lot .card__time {
    font-size: 27px;
    line-height: 122.4%;
  }
  .lot__buy {
    width: 475px;
    min-width: 475px;
    padding: 20px 20px 35px;
  }
}
@media screen and (max-width: 1030px) {
  .lot__autoRate {
    position: relative;
    & label {
      align-items: flex-start;
    }
    & .autoRate__label {
      flex-direction: column;
      align-items: flex-start;
      & .autoRate__text {
        padding-bottom: 10px;
        padding-top: 0;
      }
      & .select {
        padding-left: 0;
      }
    }
  }
  .lot__autoRate .autoRate__label--notChecked, .lot__autoRate .autoRate__label {
    height: initial;
  }
}
@media screen and (max-width: 980px) {
  .lot .button--secondary {
    width: 270px;
    height: 45px;
  }
}
@media screen and (max-width: 960px) {
  .lot__propertiTitles {
    margin-right: 95px;
  }
  .lot__img picture:nth-child(2) {
    width: 82px;
    height: 77px;
    & img,
    & source {
      width: 100%;
      height: auto;
    }
  }
  .lot .lot__propertiTitle, .lot .lot__propertiValue {
    font-size: 13px;
    line-height: 27px;
  }
  .lot__buy {
    width: 500px;
    min-width: 500px;
  }
}

@media screen and (max-width: 920px) and (min-width: 769px) {
  .lot h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .lot__buy {
    width: 450px;
    min-width: 450px;
  }
  .lot__propertiTitles {
    margin-right: 55px;
  }
}
@media screen and (max-width: 920px) {
  .lot .card__price {
    padding-bottom: 15px;
  }
  .lot span b {
    font-size: 16px;
    line-height: 22px;
  }
  .lot .card__price span {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
  }
  .lot .card__time {
    font-size: 22px;
    line-height: 122.4%;
  }
}
@media screen and (max-width: 768px) {
  .lot span {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
  }
  .lot__img picture:nth-child(2) {
    right: 0;
  }
  .lot .lot__propertiTitle, .lot .lot__propertiValue {
    font-size: 12px;
    line-height: 31px;
  }
  .lot__propertiTitles {
    margin-right: 50px;
  }
  .lot__wrapper {
    flex-direction: column;
  }
  .lot__info {
    margin: 0 auto;
    max-width: 280px;
    order: 1;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }
  .lot__buy {
    order: 0;
    width: 100%;
    min-width: 100%;
    padding: 15px 15px 10px;
  }
  .lot .content {
    width: 100%;
  }
  .lot__buy .button--primary {
    margin-top: 15px;
  }
  .lot__autoRate {
    margin: 20px 25px 0;
    padding-top: 20px;
  }
  .lot__action .lot__autoRate span {
    padding: 15px 0;
  }
  .lot__action span {
    padding: 0 20px;
  }
  .lot__ratesTitle span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  .user__card img {
    width: 50px;
    height: 50px;
  }
  .lot .user__name {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .lot .user__city {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    padding-top: 0;
  }
  .lot .user__count {
    font-size: 16px;
    line-height: 22px;
  }
  .lot__ratesHead {
    padding: 12px 23px 12px 12px;
  }
  .lot__ratesList {
    margin-top: 10px;
  }
  .lot__ratesItem {
    margin: 0 0 5px;
    padding: 0 10px 0 25px;
    height: 40px;
    justify-content: space-between;
    & span {
      font-size: 12px;
      line-height: 100%;
    }
    &::before {
      left: 12px;
    }
  }
  .lot__ratesUser {
    width: initial;
  }
  .lot__ratesAmount {
    width: initial;
  }
}