.site__nav {
  padding-bottom: 15px;
}
.site__nav .content {
  width: 1215px;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  &::after {
    content: "/";
    margin: 0 5px;
    font-size: 12px;
    line-height: 16px;
    color: #006EED;
  }
}
.nav__item a {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #006EED;
}
.nav__item {
  &.nav__item--active a {
    color: #9B9B9B;
  }
}
@media screen and (max-width: 1240px) {
  .site__nav .content {
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 769px) {
  .site__nav {
    padding-bottom: 15px;
  }
}