.pagination {
  &__list {
    display: flex;
  }
  &__item:not(:last-of-type) {
    &::after {
      content: "/";
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #006EED;
      margin: 0 5px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #006EED;
  }
  &__item {
    &:last-of-type {
      & .pagination__link {
        color: #9B9B9B;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    &.notAuthorized {
      top: -5px;
    }
  }
}