.popup__wrapper {
  &.content {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -585px;
  }
}
.popup {
  position: absolute;
  top: -52px;
  right: 0;
  z-index: 998;
  &__pay {
    flex-direction: column;
    width: 423px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
    border-radius: 0px 0px 8px 8px;
  }
}

.popup__pay .popup__row:nth-child(1) {
  background-color: #F5F5F5;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 109.4%;
  color: #4A4A4A;
  padding: 20px 30px 5px;
}

.popup__pay .popup__row:nth-child(2) {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.popup__pay label {
  margin-bottom: 20px;
}
.popup__pay input {
  height: 40px;
}
.popup__pay .input__row {
  display: flex;
  justify-content: space-between;
}
.popup__pay .input__row .input__label {
  width: 155px;
}
.popup__pay button[type=submit] {
  align-self: center;
  width: 240px;
}

.popup__pay .popup__row:nth-child(1) .rate__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 109.4%;
  color: #4A4A4A;
}
.popup__pay .popup__row:nth-child(1) .rate__label:nth-child(2) {
  padding-left: 70px;
  text-transform: uppercase;
}
.label__title {
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 109.4%;
  color: #4A4A4A;
  letter-spacing: 0.9px;
}
.rate__count {
  font-weight: bold;
  font-size: 18px;
  line-height: 109.4%;
  text-transform: uppercase;
  color: #2F85E9;
  padding-top: 10px;
}
.rate__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 14px;
  line-height: 122.4%;
  color: #4A4A4A;
}

.input__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 122.4%;
  color: #4A4A4A;
  & input[type="checkbox"] {
    display: none;
  }
  &::before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: rgba(155, 155, 155, 0.2);
    border: 1px solid rgba(155, 155, 155, 0.2);
    box-sizing: border-box;
    border-radius: 3px;
    transition: background 0.3s ease-out;
    flex-shrink: 0;
  }
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label::before {
  background: url("./assets/images/icons/checked.svg") rgba(155, 155, 155, 0.2) no-repeat center;
  background-size: contain;
}
@media  screen and (max-width: 1180px) {
  .popup__wrapper {
    &.content {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      top: 0;
      left: 0;
      margin-left: 0;
    }
    & .popup {
      position: relative;
      right: 50px;
    }
  }
}
@media screen and (max-width: 768px) {
  .popup__wrapper {
    &.content {
      max-width: 500px;
      left: 50%;
      margin-left: -250px;
      & .popup {
        right: 0;
      }
    }
  }
  .popup {
    top: -1px;
  }
  .popup__pay {
    width: 100%;
  }
  .popup__pay button[type=submit] {
    position: static;
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .popup__wrapper {
    &.content {
      max-width: 100%;
      left: 0;
      margin-left: 0;
    }
  }
  .popup__pay .popup__row:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
  .popup__pay .popup__row:nth-child(1) .rate__label:nth-child(2) {
    padding-left: 0;
  }
}