.glide__bullets {
  display: none;
}

.glide__bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(196, 196, 196, 0.5);
  border: none;
  box-shadow: none;
  &:hover,
  &:focus {
    background-color: #C4C4C4;
    border: none;
  }
}

.glide__bullet--active {
  background-color: #C4C4C4;
}

@media screen and (max-width: 768px) {
  .glide__bullets {
    display: block;
  }
}