.winLot {
  background-color: #F5F5F5;
  padding-top: 45px;
  padding-bottom: 40px;
  &__icon {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    &::before,
    &::after {
      content: "";
      background-color: #006EED;
    }
    &::before {
      content: "";
      width: 100%;
      height: 3px;
    }
    &::after {
      position: absolute;
      top: 0;
      left: 6px;
      width: 3px;
      height: 15px;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
    &--hidden {
      &::after {
        opacity: 0;
      }
    }
    &:hover {
      &::before,
      &::after {
        content: "";
        cursor: pointer;
        background-color: darken(#006EED, 10%);
      }
    }
  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }
  &__inner {
    display: none;
    align-items: flex-start;
    border-top: 1px dashed rgba(155, 155, 155, 0.2);
    padding: 25px 23px 20px;
    margin: 0 40px;
    & span {
      font-size: 13px;
      &:nth-of-type(2) {
        font-size: 16px;
      }
    }
    &--show {
      display: flex;
    }
    & .column {
      margin-right: 13%;
    }
    & p {
      font-weight: 600;
      font-size: 16px;
      color: #4A4A4A;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid rgba(155, 155, 155, 0.2);
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    & span {
      font-weight: 600;
      font-size: 14px;
      color: #9B9B9B;
      flex-shrink: 0;
      &:nth-of-type(2) {
        color: #4A4A4A;
        padding-left: 10px;
        &.winLot__status--danger {
          color: #E9280B;
        }
        &.winLot__price {
          color: #006EED;
        }
      }
    }
  }
  &__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 23px 35px 25px;
    & .button {
      width: 120px;
      height: 30px;
      flex-shrink: 0;
    }
    & .row {
      &:nth-of-type(1) {
        padding-right: 11%;
      }
      &:nth-of-type(3) {
        padding-left: 10%;
        padding-right: 17%;
      }
    }
  }
  &__model {
    font-weight: bold;
    font-size: 16px;
    color: #4A4A4A;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-left: 15px;
  }
  &__number {
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 1240px) {
  .winLot {
    &__model {
      padding-right: 8%;
    }
    //&__inner {
    //  & .column {
    //    margin-right: 13%;
    //  }
    //}
    & .row:nth-of-type(3) {
      padding-left: 8%;
      padding-right: 8%;
    }
  }
}

@media screen and (max-width: 992px) {
  .winLot {
    &__model {
      font-size: 14px;
    }
    &__item {
      & span {
        font-size: 12px;
      }
    }
    &__inner {
      & span {
        &:nth-of-type(2) {
          font-size: 14px;
        }
      }
      & p {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .winLot {
    &__info {
      padding: 23px 15px 25px;
      & .button {
        width: 104px;
      }
    }
    &__inner {
      padding: 25px 5px 20px;
      & .column {
        margin-right: 9%;
      }
    }
    &__model {
      padding-right: 4%;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .winLot {
    padding-top: 20px;
    padding-bottom: 20px;
    & h4 {
      text-align: center;
    }
    &__item {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    & .content {
      padding: 0 33px;
    }
    &__list {
      margin-top: 20px;
    }
    &__model {
      padding-right: 0;
      padding-left: 15px;
    }
    & .row {
      &:nth-of-type(1) {
        padding-bottom: 12px;
      }
      &:nth-of-type(2) {
        padding-bottom: 15px;
      }
      &:nth-of-type(3) {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 18px;
      }
      &:nth-of-type(4) {
        align-self: center;
      }
    }
    &__inner {
      flex-direction: column;
      margin: 0 22px;
      padding: 21px 0 14px;
      & .row {
        &:nth-of-type(1) {
          padding-bottom: 14px;
        }
      }
    }
    &__info {
      flex-direction: column;
      align-items: flex-start;
      padding: 19px 20px 22px;
      & .button {
        width: 120px;
      }
    }
  }
}