.card__list {
  & .card__auctionDate {
    display: none;
  }
  & .card__buyer {
    & img {
      display: none;
    }
  }
  &.card__winners {
    & .card__type {
      display: none;
    }
    & .card__auctionDate {
      display: flex;
      position: absolute;
      right: 15px;
      bottom: 20px;
      font-size: 18px;
      font-weight: 600;
      & span {
        &:nth-of-type(1) {
          color: #9B9B9B;
          font-weight: normal;
        }
      }
    }
    & .card__buyer {
      padding: 0 15px;
      & img {
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 10px 0 20px;
      }
      & span:nth-of-type(1),
      & span:nth-of-type(2) {
        font-size: 20px;
      }
      & span:nth-of-type(2) {
        font-weight: bold;
      }
    }
  }
}

.card {
  &__lotNumber {
    font-size: 16px;
    color: #9B9B9B;
    padding-bottom: 5px;
  }
}

.winners {
  padding-top: 30px;
  padding-bottom: 50px;
  & .glide {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .winners {
    padding-top: 5px;
    padding-bottom: 40px;
    & .glide {
      margin-top: 5px;
    }
    & .glide__bullets {
      bottom: -18px;
    }
  }
  .card__winners {
    &.card__list {
      flex-direction: row;
      & .card__auctionDate {
        position: static;
        font-size: 14px;
        padding-top: 20px;
        padding-left: 14px;
        background: rgba(245, 245, 245, 0.7);
        padding-bottom: 15px;
      }
      & .card__buyer {
        padding-top: 14px;
        position: relative;
        height: initial;
        & img {
          width: 30px;
          height: 30px;
          position: absolute;
          top: 40px;
          left: -5px;
        }
        & span:nth-of-type(1),
        & span:nth-of-type(2),
        & span:nth-of-type(3) {
          font-size: 14px;
        }
        & span {
          &:nth-of-type(2) {
            padding-top: 7px;
            padding-left: 40px;
          }
        }
      }
    }
    & .card__info {
      flex-direction: column;
    }
    & .card__item {
      padding-top: 70px;
      border: 1px solid rgba(155, 155, 155, .2);
    }
    & .card__options {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 22px;
    }
    & .card__price {
      flex-direction: column;
    }
    & .card__price--sold {
      margin-left: 0;
    }
    & .card__lotNumber {
      font-size: 12px;
    }
    & .card__model {
      font-size: 20px;
      line-height: 26px;
    }
    & .card__price {
      font-size: 13px;
      padding-top: 10px;
      & b {
        font-size: 16px;
        margin-left: 42px;
      }
      &--sold {
        margin-top: -5px;
        & b {
          margin-left: 74px;
        }
      }
    }
    & .badge--danger {
      top: 0;
      height: 35px;
    }
    & .card__img {
      width: 173px;
      height: 111px;
      & img {
        width: 100%;
        height: auto;
      }
    }
  }
}