@import "~reset-css";
@import "_fonts";
@import "_custom";
@import "_popup";
@import "_headers";
@import "_header";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
@import "_sliders";
@import "_lot";
@import "_navigation";
@import "_pagination";
@import "_cabinet";
@import "_winLot";
@import "_calendar";
@import "_addLot";
@import "_winnersPage";
@import "_login";
@import "_FAQ";

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
header,
footer {
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button, input, select {
  outline: none;
}
select {
  width: 112px;
  border: 1px solid rgba(155, 155, 155, 0.2);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 109.4%;
  color: #4A4A4A;
  padding: 8px 12px;
  background-color: #F5F5F5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
img {
  vertical-align: middle;
}
html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.link--info {
  color: #2085FB;
  transition: color 0.3s ease-out;
  &:hover {
    color: darken(#2085FB, 10%);
  }
  &:active {
    color: #2085FB;
  }
}
.text--light {
  color: #9B9B9B;
}
.heading--light {
  color: #ffffff;
}
.content {
  margin: 0 auto;
  width: 1170px;
}
main {
  padding-top: 30px;
  position: relative;
}
.badge--danger {
  display: inline-flex;
  align-items: center;
  padding: 0 13px 0 13px;
  height: 40px;
  background-color: #F92400;
  border-radius: 0px 20px 20px 0px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 15px;
}
.text--info{
  color: #2F85E9;
}
.text--danger{
  color:#F92400;
}
header {
  position: relative;
}
header .content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 1280px;
  padding: 0 55px 0 50px;
  position: relative;
}
header .header__row:nth-child(1) .content {
  height: 64px;
}
.about{
  justify-content: space-between;
  padding: 37px 0 65px;
}
.about__list{
  display: flex;
  justify-content: space-between;
  padding: 45px 5.5% 30px;
}
.about__desc{
  font-size: 1rem;
  text-align: center;
  padding: 23px 200px 0;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #000000;
  font-weight: 500;
}
.about__card{
  border-radius: 0px 8px 8px 8px;
  width: 320px;
  position: relative;
  padding-top: 155px;
}
.about__card::before {
  display: flex;
  align-items: center;
  background: #2085FB;
  border-radius: 0px 20px 20px 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 20px;
  padding: 0 27px;
  height: 32px;
}
.about__card span {
  display: inline-flex;
  padding: 7px 25px 23px;
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
}
.relevant .content {
  position: relative;
}
.about__card:nth-of-type(1) {
  background: url("./assets/images/icons/bills.svg") no-repeat 48% 12% rgba(245, 245, 245, 0.5);
}
.about__card:nth-of-type(2) {
  background: url("./assets/images/icons/trophy.svg") no-repeat 48% 18% #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
}
.about__card:nth-of-type(3) {
  background: url("./assets/images/icons/truck.svg") no-repeat 48% 8% rgba(245, 245, 245, 0.5);
}
.about__card:nth-of-type(1)::before {
  content: '1';
}
.about__card:nth-of-type(2)::before {
  content: '2';
}
.about__card:nth-of-type(3)::before {
  content: '3';
}
.card--sold{
  background-color: #F5F5F5;
  overflow: hidden;
  padding: 50px 0 35px;
}
.card--sold .links,
.cards .links {
  justify-content: flex-end;
}
.cards .glide {
  position: relative;
  z-index: 777;
}
.cards .links {
  position: relative;
  z-index: 111;
  bottom: 55px;
}
.card__list {
  display: flex;
  flex-direction: column;
}
.card--sold .card__list {
  margin-top: 40px;
}
.card__grid {
  flex-wrap: wrap;
  flex-direction: row;
}
.card__item{
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
  position: relative;
}
.card__item:not(:last-of-type){
  margin-bottom: 20px;
}
.card__item--sold {
  position: relative;
}
.card__item--sold .badge--danger {
  border-radius: 20px 0px 0px 20px;
  position: absolute;
  right: 0;
  margin-top: 20px;
  padding: 0 16px 0 20px;
}
.card__info {
  display: flex;
  align-items: center;
  min-height: 213px;
}
.card__options {
  padding-top: 5px;
}
.card__price {
  display: flex;
  padding-top: 15px;
}
.card__buyer {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 60px;
  border-top: 2px dashed rgba(155, 155, 155, 0.2);
  background: rgba(245, 245, 245, 0.7);
  border-radius: 0px 0px 8px 8px;
}
.card__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 347px;
}
.card__type{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
}
.card__model{
  padding-right: 3%;
  line-height: 34px;
  font-size: 25px;
  letter-spacing: 0.02em;
  color: #4A4A4A;
}
.card__price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  color: #4A4A4A;
}
.card__price b {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}

.card__price--sold {
  margin-left: 40px;
}
.card__price--sold b{
  color: #2F85E9;
}
.card__buyer::before {
  content:'';
  display: flex;
  width: 22px;
  height: 22px;
  background-image: url(./assets/images/cup.svg);
  margin-right: 10px;
}
.card__buyer span:nth-of-type(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #FF7300;
}
.card__buyer span:nth-of-type(2) {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #4A4A4A;
}
.info {
  padding: 50px 0 60px;
}
.info .content {
  display: flex;
  align-items: center;
  border: 2px solid rgba(155, 155, 155, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  position: relative;
  padding: 23px 60px 20px;
}
.info .content::before {
  content: "";
  background: url(./assets/images/infoBg1.svg) no-repeat;
  width: 65px;
  height: 65px;
  position: absolute;
  left: 25px;
  top: 15px;
  z-index: 1;
}
.info .content::after {
  content: "";
  background: url(./assets/images/infoBg.png) no-repeat;
  width: 200px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  background-size: contain;
  border-radius: 0 8px 8px 0;
}
.button {
  width: 212px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 122.4%;
  letter-spacing: 0.02em;
  border: none;
  border-radius: 28px;
  flex-shrink: 0;
  &:hover {
    cursor: pointer;
  }
}
.info .button {
  position: relative;
  z-index: 2;
}
.button--light {
  color: #2F85E9;
  background-color: #ffffff;
  transition: color 0.3s ease-out, border 0.3s ease-out;
}
.button--primary {
  color: #ffffff;
  background-color: #2F85E9;
  transition: background-color 0.3s ease-out;
}
.button--light:hover {
  color: darken(#2F85E9, 20%);
}
.button--light:active {
  color: #2F85E9;
}
.autoRate .button--light:hover {
  border: 2px solid darken(#2F85E9, 20%);
}
.autoRate .button--light:active {
  border: 2px solid #2F85E9;
}
.button--primary:hover {
  background-color: darken(#2F85E9, 10%);
}
.button--primary:active {
  background-color: #2F85E9;
}
.button--secondary {
  width: 270px;
  height: 50px;
  background: #EBF1F9;
  border-radius: 24px;
  letter-spacing: 0.02em;
  color: #2F85E9;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.button--secondary:hover {
  background-color: darken(#EBF1F9, 5%);
  color: darken(#2F85E9, 5%);
}
.button--secondary:active {
  background-color: #EBF1F9;
  color: #2F85E9;
}
.info h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 2px;
  padding-right: 50px;
  text-align: left;
  position: relative;
  z-index: 2;
}
.info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #4A4A4A;
  position: relative;
  z-index: 2;
}
.links {
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
}
.card--sold .links {
  padding: 33px 0 0 0;
}
.cards {
  padding-bottom: 5px;
}
.cards h2 {
  letter-spacing: 1.5px;
  padding: 0 14%;
}
.card__grid {
  padding-bottom: 50px;
  padding-top: 28px;
  margin-right: -20px;
}
.card__grid .card__item {
  width: 280px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 32px 0;
  position: relative;
  border: 2px solid transparent;
  margin-right: 12px;
  border-radius: 8px 8px 0 0;
  transition: box-shadow 0.3s ease-out, border .3s ease-out;
}
.card__grid .card__item:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.card__grid .card__item:last-of-type {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.card__grid .card__item::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__action {
  position: absolute;
  bottom: -72px;
  width: 280px;
  display: none;
  z-index: 777;
  justify-content: center;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  transition: border .3s ease-out, border-top .3s ease-out;
}
.card__grid .card__item .button--primary {
  margin: 0px 0 32px;
}
.card__grid .card__item:hover {
  cursor: pointer;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
  border: 2px solid rgba(155, 155, 155, 0.2);
  border-bottom: 2px solid transparent;
}
.card__grid .card__item:hover .card__action {
  display: flex;
  animation: elementShow .3s ease-out;
  animation-fill-mode: forwards;
}
.card__grid .card__type{
  font-weight: normal;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.card__grid .card__type::before,
.card__grid .card__type::after {
  display: flex;
  width: 48px;
  height: 1px;
  background-color: rgba(155, 155, 155, 0.2);;
}
.card__grid .card__type::before{
  content: "";
  margin-right: 10px;
}
.card__grid .card__type::after{
  content: "";
  margin-left: 10px;
}
.card__grid .card__img {
  min-height: 192px;
  width: 100%;
}
.card__grid .card__model {
  font-weight: 500;
  font-size: 16px;
  line-height: 122.4%;
  padding-right: 0;
  text-align: center;
  min-height: 40px;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  letter-spacing: 1px;
}
.contactUs h2 {
  text-align: left;
}
.contactUs .content{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(81.8deg, #2085FB 0%, #2F85E9 99.61%);
  box-shadow: 0px 4px 24px rgba(12, 85, 163, 0.3);
  border-radius: 8px;
  padding: 28px 122px 44px 90px;
}
.contactUs__info {
  font-size: 18px;
  color: #fff;
  padding-top: 33px;
}
.contactUs__info h2 {
  letter-spacing: 3px;
}
.contactUs__info p {
  padding-right: 30%;
  letter-spacing: 1.3px;
  padding-top: 13px;
  line-height: 25px;
}
.input {
  background-color: transparent;
  border: none;
  width: 240px;
  height: 52px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
}
.input--light {
  color: #ffffff;
}
.input--light::-webkit-input-placeholder {
  color: #ffffff;
}
.input--light:-moz-placeholder {
  color: #ffffff;
}
.input--light::-moz-placeholder {
  color: #ffffff;
}
.input--light:-ms-input-placeholder {
  color: #ffffff;
}
.input--light::-ms-input-placeholder {
  color: #ffffff;
}
.input--light::placeholder {
  color: #ffffff;
  text-align: center;
}
.input__label {
  display: flex;
  position: relative;
}
.input__label::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  height: 1px;
  background-color: #E8E8E8;
  width: 100%;
}
.input__icon {
  content: "";
  position: absolute;
  left: 0;
  top: 20px;
}
.contactUs__form button[type='submit'] {
  width: 240px;
  margin-top: 30px;
  letter-spacing: 0.5px;
}
.footer .content {
  display: flex;
  flex-direction: column;
}
.footer .menu {
  display: flex;
  flex-wrap: wrap;
}
.footer .menu__item {
  width: 30%;
  margin: 8px 0;
}
.footer .menu__item:nth-of-type(4), {
  width: 10%;
}
.footer__row:nth-child(1) {
  padding: 32px 0 22px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.2);
}
.footer__row:nth-child(2) {
  padding: 30px 0 35px;
  display: flex;
  justify-content: space-between;
}
.footer .menu__link {
  line-height: 22px;
  color: #4A4A4A;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.address{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 19px;
  color: #4A4A4A;
}
.address span:nth-of-type(1) {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #9B9B9B;
  letter-spacing: 0.7px;
}
.address span:nth-of-type(2) {
  padding-top: 17px;
  letter-spacing: 0.5px;
}
.payments {
  display: flex;
  align-items: center;
}
.payments a:not(:last-of-type) {
  margin: 0 20px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.social{
  display: flex;
}
.social a{
  width: 20px;
  height: 20px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 25px;
}
.copyright{
  color: #636363;
  font-size: 14px;
  line-height: 19px;
  padding-top: 25px;
}
.social__facebook {
  background: url(./assets/images/soc/facebook.svg) no-repeat;
}
.social__telegram {
  background: url(./assets/images/soc/tg.png) no-repeat;
}
.card--relevant {
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.card--relevant .card__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-left: 21px;
  margin-right: 21px;
  padding: 0 22px 34px 25px;
  border: 2px solid rgba(155, 155, 155, 0.2);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
}
.card--relevant .button {
  align-self: center;
}
.card--relevant .card__model {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.card--relevant .card__img {
  width: 100%;
}
.card--relevant .card__price {
  flex-direction: column;
  padding-top: 7px;
}
.card--relevant .card__price span {
  font-size: 13px;
  line-height: 18px;
  color: #9B9B9B;
}
.card--relevant .card__price b {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #4A4A4A;
}
.card--relevant .button--primary {
  margin-top: 13px;
}
.card--relevant .card__price--relevant {
 padding-top: 5px;
}
.card--relevant .card__price--relevant b {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #2F85E9;
}
.card__time {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 122.4%;
  color: #F92400;
  margin-top: 13px;
  letter-spacing: 0.5px;
}
.header__social {
  display: none;
}
@media screen and (max-width: 1285px) {
  header .content {
    width: 100%;
  }
}
@media screen and (max-width: 1210px) and (min-width: 769px) {
  footer {
    & .content {
      padding: 0 50px;
    }
  }
  .card--sold {
    & .content {
      padding: 0 50px;
    }
  }
  .cards {
    & .card__list {
      justify-content: center;
    }
    & .content {
      padding: 0 50px;
    }
  }
}
@media screen and (max-width: 1180px) {
  .content {
    width: 100%;
  }
}
@media screen and (max-width: 1120px) and (min-width: 769px) {
  .about__card {
    width: 280px;
  }
}
@media screen and (max-width: 980px) {
  html {
    font-size: 15px;
  }
  header .content {
    padding: 0 40px 0 35px;
  }
  .logo {
    left: 35px;
  }
  .auth::before {
    margin-right: 10px;
  }
  .bets__count span:nth-child(1) {
    display: none;
  }
  .button {
    width: 200px;
  }
}

@media screen and (max-width: 980px) and (min-width: 769px) {
  .card--relevant .card__item {
    margin-left: 12px;
    margin-right: 12px;
  }
  .about__card {
    width: 260px;
  }
  .about__card span {
    padding: 7px 15px 23px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #9B9B9B;
  }
}

@media screen and (max-width: 940px) and (min-width: 769px) {
  .card--relevant .card__item {
    width: 260px;
    padding: 0 13px 34px;
  }
}
@media screen and (max-width: 890px) and (min-width: 769px) {
  footer {
    & .content {
      padding: 0 18px;
    }
  }
  .card--sold {
    & .content {
      padding: 0 18px;
    }
  }
  .cards {
    & .content {
      padding: 0 18px;
    }
  }
}
@media screen and (max-width: 870px) and (min-width: 769px) {
  .card--relevant .card__price b {
    font-size: 15px;
  }
  .card--relevant .card__price--relevant b {
    font-size: 16px;
  }
}
@media screen and (max-width: 870px) and (min-width: 769px) {
  .card--relevant .card__item {
    margin-left: 7px;
    margin-right: 7px;
    padding: 0 13px 34px;
    width: 250px;
  }
}

@media screen and (max-width: 940px) {
  .about__card:nth-of-type(1) {
    background: url("./assets/images/icons/bills-small.svg") no-repeat 48% 12% rgba(245, 245, 245, 0.5);
  }
  .about__card:nth-of-type(2) {
    background: url("./assets/images/icons/trophy-small.svg") no-repeat 48% 18% #ffffff;
  }
  .about__card:nth-of-type(3) {
    background: url("./assets/images/icons/truck-small.svg") no-repeat 48% 8% rgba(245, 245, 245, 0.5);
  }
}

@media screen and (max-width: 768px) {
  main {
    padding-top: 26px;
  }
  header .header__row:nth-child(1) .content {
    height: 50px;
  }
  .content {
    max-width: 500px;
    padding: 0 18px;
  }
  .logo {
    left: 16px;
  }
  .header__row:nth-of-type(2) {
    display: none;
    background-color: #2085FB;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
    min-height: 500px;
  }
  .auth {
    display: none;
  }
  .menu--show {
    & .header__row:nth-of-type(2),
    & .auth {
      display: flex;
      animation: elemShow 0.3s linear;
    }
  }
  .menu--hidden {
    & .header__row:nth-of-type(2),
    & .auth {
      animation: elemHidden 0.3s linear;
    }
  }
  .header__actions::after {
    display: none;
  }
  header .menu__item {
    width: 100%;
    padding: 16.5px 0 4px;
    &:hover {
      background-color: initial;
    }
    &:active {
      background-color: initial;
    }
  }
  header .menu__item--active {
    background-color: initial;
    &:hover {
      background-color: initial;
    }
    &:active {
      background-color: initial;
    }
  }
  header .menu__item .menu__link {
    color: #ffffff;
  }
  header .menu__item--active .menu__link {
    color: #F92400;
    &:hover {
      color: darken(#F92400, 5%);
    }
    &:active {
      color: lighten(#F92400, 5%);
    }
  }
  .header__row:nth-of-type(2) {
    &.authorized {
      & .content {
        padding-top: 37px;
      }
    }
    & .content {
      height: initial;
      padding-top: 76px;
      align-items: flex-start;
      position: relative;
    }
  }
  .header__actions .button {
    height: 32px;
  }
  .header__social {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    bottom: 75px;
  }
  .header__social .copyright {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
  }
  .header__social .social {
    justify-content: center;
  }
  .button {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    width: 150px;
    height: 32px;
  }
    .bets__value:nth-child(3) {
      display: none;
    }
    header .menu {
      flex-direction: column;
    }
    header .header__row:nth-child(1) .content {
      padding: 0 18px 0 16px;
    }
    .auth {
      justify-content: center;
      position: absolute;
      top: 102px;
      width: 100%;
      left: 0;
    }
    .auth::before {
      width: 16px;
      height: 16px;
      background-size: contain;
    }
    .menu--toggle {
      display: flex;
    }
  .footer__row:nth-child(2) {
    flex-direction: column;
  }
  .card--relevant {
    margin-top: 20px;
  }
  .footer .menu {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .about__list {
    flex-direction: column;
    align-items: center;
    padding: 23px 0 15px;
  }
  .about .link--info:nth-of-type(1) {
    margin-bottom: 15px;
  }
  .cards h2 {
    padding: 0;
  }
  .about__desc {
    padding: 6px 0px 0;
    font-size: 13px;
    letter-spacing: 0.75px;
    line-height: 18px;
  }
  .about__card {
    width: 100%;
    max-width: 350px;
    padding-top: 130px;
    &::before {
      padding: 0 22px;
      height: 28px;
    }
    & span {
      padding: 7px 28px 23px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .links {
    padding: 0 20px;
  }
  .cards .card__item {
    width: 100%;
  }
  .card__grid {
    flex-wrap: nowrap;
  }
  .card--sold .card__list {
    flex-direction: row;
  }
  .card--sold .card__info {
    flex-direction: column;
  }
  .payments {
    justify-content: space-around;
    padding-top: 30px;
  }
  .payments a {
    &:first-of-type {
      margin-left: 0;
    }
  }
  .footer .social {
    padding-top: 30px;
  }
  .footer__row:nth-child(1) {
    padding: 40px 0 22px;
  }
  .footer__row:nth-child(2) {
    padding: 30px 0;
  }
  .footer .menu__item {
    width: 100%;
    margin: 10px 0;
  }
  .footer .menu__item:nth-of-type(4) {
    width: 100%;
  }
  .footer .menu__link {
    font-size: 14px;
    line-height: 19px;
  }
  .card__action {
    display: flex;
    position: relative;
    bottom: 0;
  }
  .card__grid .card__item:hover .card__action {
    animation: none;
    animation-fill-mode: initial;
  }
  .card__grid .card__item:hover {
    border: 2px solid rgba(155, 155, 155, 0.2);
  }
  .card__grid .card__item {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
    border: 2px solid rgba(155, 155, 155, 0.2);
  }
  .card--sold .card__img {
    width: 173px;
  }
  .card--sold .card__img img {
    width: 100%;
    height: auto;
  }
  .card--sold .card__info {
    padding-top: 62px;
  }
  .card--sold .card__options {
    padding: 20px 20px 15px 20px;
  }
  .card--sold .card__price {
    flex-direction: column;
    padding-top: 12px;
    & span {
      display: flex;
      justify-content: space-between;
    }
  }
  .card--sold .badge--danger {
    margin-top: 15px;
    height: 35px;
  }
  .card__buyer::before {
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 8px;
  }
  .card--sold .card__price--sold {
    margin-left: 0;
  }
  .card--sold .card__model {
    line-height: 28px;
    font-size: 20px;
  }
  .card--sold .card__price b {
    font-size: 18px;
  }
  .card__buyer {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px 0;
    height: 95px;
    position: relative;
    &::before {
      position: absolute;
    }
  }
  .card__buyer span:nth-of-type(1) {
    padding-left: 35px;
  }
  .card__buyer span:nth-of-type(2) {
    font-size: 14px;
    line-height: 19px;
  }
  .glide {
    max-width: 350px;
    min-width: 284px;
    margin: 0 auto;
  }
  .card__type {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .card--relevant .card__item {
    padding: 0 22px 34px;
  }
  .card--relevant .card__price {
    padding-top: 15px;
  }
  .card__time {
    margin-top: 7px;
  }
  .card__buyer span:nth-of-type(1) {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.7px;
    padding-left: 25px;
    padding-bottom: 5px;
  }
  .button {
    font-size: 16px;
    line-height: 122.4%;
    height: 45px;
    width: 212px;
  }
  .glide__bullets {
    position: absolute;
    bottom: -10px;
  }
  .cards .glide__bullets {
    bottom: 68px;
  }
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cards .card__action {
    padding-top: 10px;
  }
  .card__grid .card__item:not(:last-of-type) {
    padding-bottom: 0px;
  }
  .card__grid {
    padding-bottom: 62px;
  }
  .cards .links {
    text-align: center;
  }
  .about {
    padding: 53px 0 45px;
  }
}

@media screen and (max-width: 460px) {
  .payments {
    justify-content: space-between;
  }
  .bets__count {
    margin-right: 10px;
  }
  .header__actions .button {
    width: 150px;
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape){

}

@media screen and (max-width: 380px) {

}
