doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="test")
        meta(name="theme-color" content="#070707")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='test'
        link(rel="icon" href="./simple-logo.ico" type="image/x-icon")
    body
        include ./includes/pages/header
        main
            include ./includes/pages/login
        footer(class="footer")
            div(class="content")
                nav(class="footer__row")
                    ul(class="menu")
                        li(class="menu__item")
                            a(href="#" class="menu__link") Об аукционе
                        li(class="menu__item")
                            a(href="#" class="menu__link") Лоты для аукциона
                        li(class="menu__item")
                            a(href="#" class="menu__link") Купить ставки
                        li(class="menu__item")
                            a(href="#" class="menu__link") О нас
                        li(class="menu__item")
                            a(href="#" class="menu__link") Вопросы и ответы
                        li(class="menu__item")
                            a(href="#" class="menu__link") Победители
                        li(class="menu__item")
                            a(href="#" class="menu__link") Будущие аукционы
                div(class="footer__row")
                    a(class="address" href="https://goo.gl/maps/JVTE8xAcsnAvUVF9A" target="_blank")
                        span Контакты
                        span 0100, Киев, ул. Владимирская 16
                    div(class="footer__social")
                        div(class="social")
                            a(href="https://www.facebook.com/LAFA-WIN-103900311342343/" target="_blank" class="social__facebook")
                            a(href="https://t.me/joinchat/GkBIrhmh1BE_mtRelkhTHQ" target="_blank" class="social__telegram")
                        div(class="copyright") © 2020. Lafa. Все права защищены
                    div(class="payments")
                        a(href="https://www.visa.com.ua/uk_UA" class="payments__visa" target="_blank")
                            img(src="./assets/images/payments/visa.png" alt="visa icon")
                        a(href="https://www.mastercard.ua/uk-ua.html" class="payments__mastercard" target="_blank")
                            img(src="./assets/images/payments/mastercard.png" alt="mastercard")
                        a(href="#" class="payments__secure" target="_blank")
                            img(src="./assets/images/payments/secure.png" alt="secure")
        div.overlay
