div.pagination.notAuthorized
    div.content
        ul.pagination__list
            li.pagination__item
                a.pagination__link Главная
            li.pagination__item
                a.pagination__link Лоты для аукционов
section.addLot
    div.content
        div.addLot__form
            h2 Предложите свой лот для будущих аукционов
            form(name='add-lot')
                div.input__custom
                    span.input__placeholder Имя*
                    input(type='text' placeholder='Имя*')
                div.input__custom
                    span.input__placeholder Электронная почта*
                    input(type='email' placeholder='Электронная почта*')
                div.lot--offer.input__custom
                    span.input__placeholder Предлагаемый лот*
                    textarea(placeholder="Напишите, какой лот вы бы хотели чтобы мы разыграли на аукционе или пришлите ссылку на товар.")
                button.button.button--primary(type="submit") Отправить
        div.addLot__list
            h2 или выберите лот из планируемых
            div.calendar__filter
                span Показать аукционы:
                ul.list.filter__list
                    a.filter__item.filter__item--active(role="button") Все
                    a.filter__item(role="button") Ближайший
                    a.filter__item(role="button") На этой неделе
                    a.filter__item(role="button") В этом месяце
                a.filter__icon(role='button')
            div.glide#addLotList1
                div.glide__track(data-glide-el="track")
                    div(class="card__list card__grid glide__slides")
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/asus-x5.png" alt="asus")
                            p(class="card__type") Ноутбук
                            p(class="card__model") Asus X543MA-GQ497 Transparent Silver
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/ms_joystick.png" alt="joystick")
                            p(class="card__type") Джойстик
                            p(class="card__model") Microsoft Official Xbox One S Wireless Controller
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/beats.png" alt="beats")
                            p(class="card__type") Наушники
                            p(class="card__model") Beats Solo HD
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/airpods.png" alt="airpods")
                            p(class="card__type") AirPods
                            p(class="card__model") Apple AirPods 2 with Charging Case
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                div(class="glide__bullets" data-glide-el="controls[nav]")
                    button(class="glide__bullet" data-glide-dir="=0")
                    button(class="glide__bullet" data-glide-dir="=1")
                    button(class="glide__bullet" data-glide-dir="=2")
                    button(class="glide__bullet" data-glide-dir="=3")
            div.glide#addLotList2
                div.glide__track(data-glide-el="track")
                    div(class="card__list card__grid glide__slides")
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/asus-x5.png" alt="asus")
                            p(class="card__type") Ноутбук
                            p(class="card__model") Asus X543MA-GQ497 Transparent Silver
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/ms_joystick.png" alt="joystick")
                            p(class="card__type") Джойстик
                            p(class="card__model") Microsoft Official Xbox One S Wireless Controller
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/beats.png" alt="beats")
                            p(class="card__type") Наушники
                            p(class="card__model") Beats Solo HD
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/airpods.png" alt="airpods")
                            p(class="card__type") AirPods
                            p(class="card__model") Apple AirPods 2 with Charging Case
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                div(class="glide__bullets" data-glide-el="controls[nav]")
                    button(class="glide__bullet" data-glide-dir="=0")
                    button(class="glide__bullet" data-glide-dir="=1")
                    button(class="glide__bullet" data-glide-dir="=2")
                    button(class="glide__bullet" data-glide-dir="=3")
include ../../includes/pay
