include ../../includes/pagination
include ../../includes/cabinet
include ../../includes/winList
section(class="cards cabinet__cards")
    div(class="content")
        h2 Вскоре будет разыгрываться
        div.row
            div.glide#cardGrid
                div.glide__track(data-glide-el="track")
                    div(class="card__list card__grid glide__slides")
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/asus-x5.png" alt="asus")
                            p(class="card__type") Ноутбук
                            p(class="card__model") Asus X543MA-GQ497 Transparent Silver
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/ms_joystick.png" alt="joystick")
                            p(class="card__type") Джойстик
                            p(class="card__model") Microsoft Official Xbox One S Wireless Controller
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                        article(class="card__item glide__slide")
                            div(class="card__img")
                                img(src="./assets/images/choise/beats.png" alt="beats")
                            p(class="card__type") Наушники
                            p(class="card__model") Beats Solo HD
                            div(class="card__action")
                                button(class="button button--primary") Хочу учавствовать!
                div(class="glide__bullets" data-glide-el="controls[nav]")
                    button(class="glide__bullet" data-glide-dir="=0")
                    button(class="glide__bullet" data-glide-dir="=1")
                    button(class="glide__bullet" data-glide-dir="=2")
            div.links
                div.links__img
                a.link--info(href="#") Смотреть все лоты или предложить свой лот
include ../../includes/pay