div.pagination.notAuthorized
    div.content
        ul.pagination__list
            li.pagination__item
                a.pagination__link Главная
            li.pagination__item
                a.pagination__link Календарь будущих аукционов
section.calendar
    div.content
        h2 Календарь будущих аукционов
        div.calendar__filter
            span Показать аукционы:
            ul.list.filter__list
                a.filter__item.filter__item--active(role="button") Все
                a.filter__item(role="button") Ближайший
                a.filter__item(role="button") На этой неделе
                a.filter__item(role="button") В этом месяце
            a.filter__icon(role='button')
        div.calendar__days
            article.calendar__day
                div.calendar__date
                    p 1 апреля 2020 (субота)
                div.glide#day0104
                    div.glide__track(data-glide-el="track")
                        div(class="card__list card__grid glide__slides")
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/asus-x5.png" alt="asus")
                                p(class="card__type") Ноутбук
                                p(class="card__model") Asus X543MA-GQ497 Transparent Silver
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/ms_joystick.png" alt="joystick")
                                p(class="card__type") Джойстик
                                p(class="card__model") Microsoft Official Xbox One S Wireless Controller
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/beats.png" alt="beats")
                                p(class="card__type") Наушники
                                p(class="card__model") Beats Solo HD
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/airpods.png" alt="airpods")
                                p(class="card__type") AirPods
                                p(class="card__model") Apple AirPods 2 with Charging Case
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                    div(class="glide__bullets" data-glide-el="controls[nav]")
                        button(class="glide__bullet" data-glide-dir="=0")
                        button(class="glide__bullet" data-glide-dir="=1")
                        button(class="glide__bullet" data-glide-dir="=2")
                        button(class="glide__bullet" data-glide-dir="=3")
            article.calendar__day
                div.calendar__date
                    p 2 апреля 2020 (воскресенье)
                div.glide#day0204
                    div.glide__track(data-glide-el="track")
                        div(class="card__list card__grid glide__slides")
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/asus-x5.png" alt="asus")
                                p(class="card__type") Ноутбук
                                p(class="card__model") Asus X543MA-GQ497 Transparent Silver
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/ms_joystick.png" alt="joystick")
                                p(class="card__type") Джойстик
                                p(class="card__model") Microsoft Official Xbox One S Wireless Controller
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                    div(class="glide__bullets" data-glide-el="controls[nav]")
                        button(class="glide__bullet" data-glide-dir="=0")
                        button(class="glide__bullet" data-glide-dir="=1")
            article.calendar__day
                div.calendar__date
                    p 8 апреля 2020 (субота)
                div.glide#day0804
                    div.glide__track(data-glide-el="track")
                        div(class="card__list card__grid glide__slides")
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/beats.png" alt="beats")
                                p(class="card__type") Наушники
                                p(class="card__model") Beats Solo HD
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
            article.calendar__day
                div.calendar__date
                    p 9 апреля 2020 (воскресенье)
                div.glide#day0904
                    div.glide__track(data-glide-el="track")
                        div(class="card__list card__grid glide__slides")
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/asus-x5.png" alt="asus")
                                p(class="card__type") Ноутбук
                                p(class="card__model") Asus X543MA-GQ497 Transparent Silver
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/ms_joystick.png" alt="joystick")
                                p(class="card__type") Джойстик
                                p(class="card__model") Microsoft Official Xbox One S Wireless Controller
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                            article(class="card__item glide__slide")
                                div(class="card__img")
                                    img(src="./assets/images/choise/beats.png" alt="beats")
                                p(class="card__type") Наушники
                                p(class="card__model") Beats Solo HD
                                div(class="card__action")
                                    button(class="button button--primary") Хочу учавствовать!
                    div(class="glide__bullets" data-glide-el="controls[nav]")
                        button(class="glide__bullet" data-glide-dir="=0")
                        button(class="glide__bullet" data-glide-dir="=1")
                        button(class="glide__bullet" data-glide-dir="=2")
include ../../includes/pay