div.pagination.notAuthorized
    div.content
        ul.pagination__list
            li.pagination__item
                a.pagination__link Главная
            li.pagination__item
                a.pagination__link Вопросы-ответы
section.faq
    div.faq__info
        div.content
            h2 Вопросы-ответы
            p.text.text--lg Итак, заранее запаситесь необходимым количеством ставок, изучите основные тактики победы выберите ту, окторая вам больше подходит и выигрывайте:
            p.text.text--md Первая тактика - “Психологическая атака”
            p.text.text--sm Для того чтобы успешно защититься от такой атаки, нужно осознать, что она имеет место. Психологическая атака, в отличие от физической, далеко не всегда видна сразу.
            p.text.text--sm Для того чтобы успешно защититься от такой атаки, нужно осознать, что она имеет место. Психологическая атака, в отличие от физической, далеко не всегда видна сразу. Зачастую она скрывается под видом деловой или дружеской беседы, доброжелательного наставления, философского обсуждения проблемы, семейного совета и т.
        div.faq__accordionContent
            div.faq__accordionWrapper
                div.accordion
                    span 1. Что запрещено делать на платформе аукциона?
                    div Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.  Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.

                    span 2. Являются ли товары новыми и оригинальными?
                    div Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.  Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.

                    span 3. Что запрещено делать на платформе аукциона?
                    div Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.  Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.

                    span 4. Являются ли товары новыми и оригинальными?
                    div Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.  Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.

                    span 5. Что запрещено делать на платформе аукциона?
                    div Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.  Готово! Теперь Вы можете принимать / отправлять криптовалюты и фиатные валюты любому пользователю Telegram.
include ../../includes/pay
