header(class='header')
    div(class="header__row")
        div(class="content")
            picture(href="/" class="logo")
                source(srcset="./assets/images/logo-min.svg" media="(max-width: 769px)")
                img(src="./assets/images/logo.png" alt="lafa logo")
            div(class="header__actions")
                div(class="bets__count")
                    span На счету:&nbsp;
                    span(class="bets__value") 12&nbsp;
                    span(class="bets__value") ставок
                button(class="button button--light button__buy") Купить в один клик!
            div(class="auth")
                a(href="#" class="login") Вход
                a(href="#" class="signup") Регистрация
            div.menu--toggle
    div(class="header__row")
        div(class="content")
            ul(class="menu")
                li(class="menu__item")
                    a(href="#" class="menu__link") Об аукционе
                li(class="menu__item")
                    a(href="#" class="menu__link") Вопросы - ответы
                li(class="menu__item")
                    a(href="#" class="menu__link") Лоты для аукциона
                li(class="menu__item")
                    a(href="#" class="menu__link") Победители
                li(class="menu__item menu__item--active")
                    a(href="#" class="menu__link") НАЧАТЬ!
            div(class="header__social")
                div(class="social")
                    a(href="https://www.facebook.com/LAFA-WIN-103900311342343/" target="_blank" class="social__facebook")
                    a(href="https://t.me/joinchat/GkBIrhmh1BE_mtRelkhTHQ" target="_blank" class="social__telegram")
                div(class="copyright") © 2020. Lafa. Все права защищены