div.pagination.notAuthorized
    div.content
        ul.pagination__list
            li.pagination__item
                a.pagination__link Главная
            li.pagination__item
                a.pagination__link Регистрация
section.signup
    div.content
        h2 Регистрация
        form#signup
            div.input__custom#input_email
                span.input__placeholder Электронная почта *
                input(type='text' placeholder='Электронная почта *' name='email')
            div.input__custom#input_password
                span.input__placeholder Пароль*
                input(type='password' placeholder='Пароль*' name='password')
            div.input__custom#input_repeat_password
                span.input__placeholder Подтверждение пароля*
                input(type='password' placeholder='Подтверждение пароля*' name='repeat_password')
            div.input__custom.input__custom--checkbox#input_agree_personal_data
                input(type="checkbox" id="formAgree" name='agree_personal_data')
                label.input__checkbox(for="formAgree")
                    span
                        | На обработку&nbsp;
                        a(href='#').link--info='персональных данных'
                        | &nbsp;согласен
            button(type='submit').button.button--primary Зарегистрироваться
            article.signupModal#signup_success_modal
                h4.signupModal__header Активируйте ваш аккаунт
                p.signupModal__content Ссылка для активации отправлена на указанную почту
                button.button.button--primary.signupModal__okButton ОК!
include ../../includes/pay