div.pagination.notAuthorized
    div.content
        ul.pagination__list
            li.pagination__item
                a.pagination__link Главная
            li.pagination__item
                a.pagination__link Победители предыдущих аукционов
section.winners
    div.content
        h2 Победители предыдущих аукционов
        div.glide#winnersAuction
            div.glide__track(data-glide-el="track")
                div(class="card__list card__winners glide__slides")
                    article(class="card__item card__item--sold glide__slide")
                        span(class="badge--danger") Экономия:
                            | 85%
                        div(class="card__info")
                            div(class="card__img")
                                img(src="./assets/images/last/mac-air.jpg" alt="mac air")
                            div(class="card__options")
                                p(class="card__type") Ноутбук
                                p(class="card__lotNumber") Лот № 86594958
                                p(class="card__model") APPLE MacBook Air A1932 Silver (MVFK2UA/A)
                                div(class="card__price")
                                    span(class="card__price--retail") Розничная цена:
                                        b 14 599 UAH
                                    span(class="card__price--sold") Продан за:
                                        b 890 UAH
                        p(class="card__buyer")
                            span Победитель:&nbsp;
                            img(src='./assets/images/users/user1.png' alt='user avatar')
                            span Anon_234, г.Херсон
                        p.card__auctionDate
                            span Дата аукциона:&nbsp;
                            span 15.07.20
                    article(class="card__item card__item--sold glide__slide")
                        span(class="badge--danger") Экономия:
                            | 85%
                        div(class="card__info")
                            div(class="card__img")
                                img(src="./assets/images/last/mac-air.jpg" alt="mac air")
                            div(class="card__options")
                                p(class="card__type") Ноутбук
                                p(class="card__lotNumber") Лот № 86594958
                                p(class="card__model") APPLE MacBook Air A1932 Silver (MVFK2UA/A)
                                div(class="card__price")
                                    span(class="card__price--retail") Розничная цена:
                                        b 14 599 UAH
                                    span(class="card__price--sold") Продан за:
                                        b 890 UAH
                        p(class="card__buyer")
                            span Победитель:&nbsp;
                            img(src='./assets/images/users/user1.png' alt='user avatar')
                            span Anon_234, г.Херсон
                        p.card__auctionDate
                            span Дата аукциона:&nbsp;
                            span 15.07.20
                    article(class="card__item card__item--sold glide__slide")
                        span(class="badge--danger") Экономия:
                            | 85%
                        div(class="card__info")
                            div(class="card__img")
                                img(src="./assets/images/last/mac-air.jpg" alt="mac air")
                            div(class="card__options")
                                p(class="card__type") Ноутбук
                                p(class="card__lotNumber") Лот № 86594958
                                p(class="card__model") APPLE MacBook Air A1932 Silver (MVFK2UA/A)
                                div(class="card__price")
                                    span(class="card__price--retail") Розничная цена:
                                        b 14 599 UAH
                                    span(class="card__price--sold") Продан за:
                                        b 890 UAH
                        p(class="card__buyer")
                            span Победитель:&nbsp;
                            img(src='./assets/images/users/user1.png' alt='user avatar')
                            span Anon_234, г.Херсон
                        p.card__auctionDate
                            span Дата аукциона:&nbsp;
                            span 15.07.20
            div(class="glide__bullets" data-glide-el="controls[nav]")
                button(class="glide__bullet" data-glide-dir="=0")
                button(class="glide__bullet" data-glide-dir="=1")
                button(class="glide__bullet" data-glide-dir="=2")
include ../../includes/pay